body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-right   {
    margin-right: -60px ;
}
.navbar {
    height: 100px;
    background-color: white;
    border-color: white;
}
.entree {
    margin-top: 50px;
    margin-right: 70px;
    height: 200px;
    width: 200px;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 1px;
    float: left; 
}

h3 {
    text-align: center;
    font: "Helvetica";
    font-size: 12px;
    font-weight: 200;
    color: #395A7B;
    margin-top: 131px;
}

body     {
    background-color: #F6F6F7;
}
.btn-primary   {
    margin-right: 173px;
    margin-left: 15px;
    margin-top: 30px;
    background-color: #F6F6F7;
    color: #395A7B;
    font: "Helvetica";
    font-size: 12px;
}

img {
    float: right;
}

footer > ul > li  {
    color: darkgrey;
    font: "Helvetica";
    font-size: 11px;
    margin-top: 80px;
    text-align: center;
}

.inactif {
    opacity: 0.5;
}