.navbar {
    height: 100px;
    background-color: white;
    border-color: white;
}

.navbar-right   {
    margin-right: 3px;
}
.entree {
    margin-top: 50px;
    margin-right: 70px;
    height: 200px;
    width: 200px;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 1px;
    float: left; 
}

h3 {
    text-align: center;
    font: "Helvetica";
    font-size: 12px;
    font-weight: 200;
    color: #395A7B;
    margin-top: 70px;
}

body     {
    background-color: #F6F6F7;
}
.btn-primary   {
    background-color: #F6F6F7;
    color: #395A7B;
    font: "Helvetica";
    font-size: 12px;
}

img {
    margin-left: 396px;
    max-width: 22%;
    margin-top: -10px;
}

footer > ul > li  {
    color: darkgrey;
    font: "Helvetica";
    font-size: 11px;
    margin-top: 80px;
    text-align: center;
}

.inactif {
    opacity: 0.5;
}

.jumbo  {
    background-color: rgb(57,91,121);
    height: 60px;
    margin-top: -40px;
}

h2  {
    font:"Helvetica";
    font-size: 20px;
    text-align: center;
    color: white;
    padding-top: 16px;
}